@import "style_icons.css";

body {
  font-family: 'Major Mono Display', monospace;
  background: #FCEEF2;
  color: #004044;
}

h1 {
  text-align: left;
  margin-left: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-size: 2em;
}

h2 {
  text-align: center;
  margin-top: 16px;
  font-size: 2em;
}

p {
  font-family: 'Besley', serif;
  font-size: 1.5em;
}

.profile_image {
  width: 90%;
  opacity: 0.7;
  margin-top: 35px;
}

.profile{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
