@import "style_icons.css";
@import "style_projects.css";
@import "style_navbar.css";
@import "style_contact.css";

body {
  font-family: 'Major Mono Display', monospace;
  background: #FCEEF2;
  color: #004044;
}

.container {
  margin-left: 120px;
  margin-right: 120px;
  padding: 16px;
}

  h1 {
  text-align: left;
  font-size: 1.5em;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4em;
  max-width: 100%;
}


h2 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.4em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

p {
  font-family: 'Source Code Pro', monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.profile_image {
  min-width: 50%;
  width: 90%;
  margin-right: 10px;
}

.div.image {
  align-items: center;
  padding: 16px;
}

.profile{
  margin-top: 30px;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 16px;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
}


a:link {
  color: #008000;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(152, 111, 123);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 0, 0, 0.358);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 183, 0);
  background-color: transparent;
  text-decoration: underline;
}

@media(max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
  }
  .container {
    margin: 12px;
  }

}
